.venv/
.env
.anki-addon-release/
.anki-addon-release.local.toml
__pycache__/
*.pyc
.DS_Store
data/raw/pgcn.zip

media/source/*
media/blank/*
media/locator/*
media/raster/*
!media/source/.gitkeep
!media/blank/.gitkeep
!media/locator/.gitkeep
!media/raster/.gitkeep

out/*
!out/.gitkeep
